*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lato Font Styles */

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* header */

.header-container{
    display: flex;
    background-color: #FCEEF1;
    justify-content: center;
    align-items: center;
    padding: 60px;
    max-width: 1920px;
    height: 100%;
}
/* .text-container{
  width: 700px;
  margin-left: 147px;
} */

.text-container h1 {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
    

}

.text-container p{
  font-size: 18px;
  color: rgba(25, 25, 25, 0.6);
  line-height: 30px;
}

.image-container img{
  margin-left: 97px;
  max-width: 620px;
  height: 800px;
}

.shop-now-button{
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 32px;
}

.shop-now-button:hover{
  background-color: rgb(255, 105, 135);
}